
div.flipBook {
	position: relative;
	-webkit-perspective: 1200;
}

div.flipBook div.flipping {
	height: 100%;
	width: 50%;
}

div.flipBook div.left {
	background-position: 0 0;
}

div.flipBook div.right {
	background-position: -300px 0;
}

div.flipBook div.flipping div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

div.flipBook div.flipping {
	position: absolute;
	top: 0;
	left: 50%;
	
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.6s;
	-webkit-transform: rotateY(0deg);
	-webkit-transform-origin: 0 0 0;

	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;

	z-index: 0;
}

div.flipBook div.flipping.foreground {
	z-index: 1;
}

div.flipBook div.flipping div.right {
	-webkit-backface-visibility: hidden;
}

div.flipBook div.flipping div.left{
	-webkit-transform: scaleX(-1);
}

div.flipBook div.flipping.onLeft {
	-webkit-transform: rotateY(-180deg);
}

div#cssFlipBook:hover div.flipping {
	-webkit-transform: rotateY(-180deg);
}

@-webkit-keyframes firstImage {
	0% {
		-webkit-transform: rotateY(-180deg);
	}
	50% {
		-webkit-transform: rotateY(-150deg);
	}
	100% {
		-webkit-transform: rotateY(-180deg);
	}
}

@-webkit-keyframes lastImage {
	0% {
		-webkit-transform: rotateY(0deg);
	}
	50% {
		-webkit-transform: rotateY(-30deg);
	}
	100% {
		-webkit-transform: rotateY(0deg);
	}
}