div.flipBook {
	width: 600px;
	height: 600px;
	cursor: pointer;
}

body {
	background-color: black;
}

div#page {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

body {
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

a {
	color: white;
}
