div.flipBook {
	width: 600px;
	height: 600px;
}

div#myFlipbook {
	width: 600px;
	height: 600px;
}

div.img1, div.img2, div.img3 {
}

div.img1 {
	background-image: url(../i/1362473050_367d2f7d72_b.jpg);
}

div.img2 {
	background-image: url(../i/2836016055_7735049da7_b.jpg);
}

div.img3 {
	background-image: url(../i/4623916671_0a6a0269bf_b.jpg);
}

